* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Prop Double", system-ui;
}

h1, h2 {
    color: rgb(238, 255, 0);
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}

body {
    background-color: rgb(0, 255, 251);
}

img, iframe {
    width: 100%;
    vertical-align: middle;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: bisque;
}

.galeria > * {
    width: 25%;
    border: greenyellow spx solid;
}

header, section {
    border: green 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section {
    min-height: 100vh;
}
header {
    min-height: calc(100vh - 3em);
    background-image: url(../img/nuevoedificio.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header > h1 {
    font-size: 6vw;
    text-align: right;
}

/*Maquetación del menú*/
#menu > ul {
    display:flex;
    justify-content: space-around;
    padding: 0;

}
#menu > ul > li {
    list-style: none;
    border: salmon 3px solid;
    height: 5em;
    display: 
}